# This workflows will run the PyTests suite

name: 'PyTests'

on: push

jobs:
  pytest:
    name: 'PyTests'
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10.x'
    - name: Install dependencies  
      run: |
        pip install --upgrade pip
        pip install setuptools wheel
        pip install -r requirements.txt

    - name: Run Pytest
      run: |
        pip install pytest
        pytest
